/* Main Ahvoda palette colors */
@base-green: #b8f0b2;
@base-blue:  #6683b6;
@base-beige: #fffe83;

@light-green: lighten(@base-green, 15%);
@light-blue:  lighten(@base-blue, 15%);
@light-beige: lighten(@base-beige, 15%);

@lighter-green: lighten(@base-green, 30%);
@lighter-blue:  lighten(@base-blue, 30%);
@lighter-beige: lighten(@base-beige, 30%);

@dark-green: darken(@base-green, 10%);
@dark-blue:  darken(@base-blue, 10%);
@dark-beige: darken(@base-beige, 10%);

@darker-green: darken(@base-green, 30%);
@darker-blue:  darken(@base-blue, 30%);
@darker-beige: darken(@base-beige, 30%);

@fg-main: #4a4a49;

/* Solarized colors */
@sol-base03:    #002b36;
@sol-base02:    #073642;
@sol-base01:    #586e75;
@sol-base00:    #657b83;
@sol-base0:     #839496;
@sol-base1:     #93a1a1;
@sol-base2:     #eee8d5;
@sol-base3:     #fdf6e3;
@sol-yellow:    #b58900;
@sol-orange:    #cb4b16;
@sol-red:       #dc322f;
@sol-magenta:   #d33682;
@sol-violet:    #6c71c4;
@sol-blue:      #268bd2;
@sol-cyan:      #2aa198;
@sol-green:     #859900;

@semitrans-bg: fade(black, 65%);

@trans-bg:      rgba(0, 0, 0, 0);

a {
    color: @sol-blue;
    text-decoration: underline;
}
