@import "main.less";

#vfill-container {
    padding: 1em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

section {
    width: auto;
    padding: 2em;
    background-color: @trans-bg;
}
