@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400|Merriweather:300,400,700);

@import "colors.less";
@import "prefixes.less";

@mobile-size: 600px;

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0; /* Pesky browsers, putting margins on body... */
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    color: @fg-main;
    font-family: "Open Sans", sans;
    z-index: 0;
    line-height: 1.45em;
    font-size: 14px;
    overflow-x: hidden;
    position: relative;

    * {
        z-index: 1;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans;
    line-height: 1.2em;
    font-weight: bold;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 175%;
}

h3 {
    font-size: 150%;
}

h4 {
    font-size: 135%;
}

h5 {
    font-size: 115%;
}

h6 {
    font-size: 100%;
}

ul {
    li {
        list-style-type: none;
    }
}

/* Usable on a (sized) container such that its contents align in the total
 * center.
 */
.total-centering {
    .display-flex();
    .flex-nowrap();
    .flex-direction(column);
    .justify-content(center);
    .align-items(center);
}

@media (max-width: @mobile-size) {
    body {
        font-size: 12px;
    }

    section .contents {
        max-width: 90%;
    }
}

.uniform-shadow(@color, @type : "") {
    box-shadow: @type 0 0 5px @color;
}

.dark-gray-shadow(@type : "") {
    .uniform-shadow(#333, @type);
}

.light-gray-shadow(@type : "") {
    .uniform-shadow(#aaa, @type);
}

.enshadow(@type : "") {
    box-shadow: @type 0 0 0px transparent;
    transition: box-shadow 0.15s ease-in-out;
}

.button {
    &.block {
        display: inline-block;
    }

    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    color: inherit;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: rgba(255, 255, 255, 0.8);
    .enshadow();

    &:hover {
        .dark-gray-shadow();
    }
}

.ng-invalid.ng-dirty:not(form) {
    .uniform-shadow(#a00, inset);
}

form {
    &.ng-invalid.ng-dirty {
        button[type='submit'] {
            background-color: #caa;
        }
    }

    &.ng-valid.ng-dirty {
        button[type='submit'] {
            background-color: #aca;
        }
    }
}

button {
    .button();
    cursor: pointer;
}

button[disabled='disabled'] {
        background-color: #caa;
}

.formly-field {
    margin: 0.5em initial;
}

.form-control() {
    color: #333;
    background-color: white;
    border: 1px solid #333;
    margin: 0.25em 0;
    padding: 0.5em 1em;
    outline: none;

    .enshadow();
    &:hover {
        .light-gray-shadow(inset);
    }
    &:focus {
        .dark-gray-shadow(inset);
    }
}

input[type='text'], input[type='password'], input[type='number'],
input[type='email'], input[type='tel'], textarea, select {
    .form-control();

    form.separate-form & {
        display: block;
    }

    form.fullwidth & {
        width: 100%;
    }
}

select {
    option {
        padding: 0.25em;
        border: none;
    }
}

dl {
    dt {
        text-align: left;
    }

    dd {
        margin: 0;
        margin-bottom: 0.5em;
    }
}

ul {
    padding-left: 1em;
    text-align: left;
    list-style-type: none;
}

/* Elements with this class will fade in when they enter the viewport. */
.scrollfade {
    opacity: 0;
}

/* Class given to errors in submitting forms. */
.errors {
    color: @sol-red;
    margin-bottom: 1.5em;
}

/* block elements whose purpose is to hold a single element in the center. */
.center-holder {
    display: block;
    text-align: center;
}

/* "flatten" a <ul>, removing the indentation of its children. */
ul.flat {
    margin: 0;
    padding-left: 0;
}

.semiblack-bg {
    background-color: @semiblack-bg;
}

.semiwhite-bg {
    background-color: @semiwhite-bg;
}

#footer {
    border-top: 1px solid #333;
    width: 100%;
    height: 4vh;
    min-height: 5vh;
    bottom: 100%;
    text-align: center;
    .display-flex();
    .flex-flow(column nowrap);
    .flex-nowrap();
    .flex-direction(column);
    .justify-content(center);

    p {
        margin: 0;
    }
}

.sc {
    font-variant: small-caps;
}

#top-bar {
    width: 100%;
    background-color: transparent;
    padding: 1em 5em;
    img {
        height: 4em;
    }
}

.display-flex() {
    display: flex;
    display: -ms-flexbox;
}

.flex-nowrap() {
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
}

.flex-wrap(@a) {
    -ms-flex-wrap: @a;
    flex-wrap: @a;
}

.flex-direction(@a) {
    -ms-flex-direction: @a;
    flex-direction: @a;
}

.flex-justify-content(@a) {
    -ms-flex-pack: @a;
    justify-content: @a;
}

.flex-align-items(@a) {
    -ms-flex-align: @a;
    align-items: center;
}

.three-component-bar {
    > * {
        width: 33%;
        min-width: 105px;
        text-align: center;
    }

    > :first-child {
        text-align: left;
    }

    > :last-child {
        text-align: right;
    }

    .display-flex();
    .flex-direction(row);
    .flex-wrap(wrap);
    .flex-align-items(center);
    .flex-justify-content(center);
}

.fitsize {
    max-height: 60vh;
    max-width: 30vw;
}

.first-blah() {
    > * {
        margin: 1em;
    }

    h5 {
        margin: 0;
    }

    > *:not(:first-child) {
        height: 100%;
        .display-flex;
        text-align: left;
        .flex-direction(column);
        .flex-nowrap();
        .flex-justify-content(center);
    }
}

.first-left {
    .first-blah;

    > :first-child {
        float: left;
    }

}

.first-right {
    .first-blah;

    > :first-child {
        float: right;
    }
}
