<h1> Contracts </h1>
<div>
    <a class='button block call-to-action' ui-sref='new-listing'>
        Request contractor
    </a>
</div>
<dl class='business-content' ng-repeat='business in vm.businesses'>
    <dt><h2> {{ business.name }} </h2></dt>
    <dd>
        <p>
        {{ vm.formatAddress(business.location) }} 
        </p>
        <p ng-if='vm.listingGroups[business.name].length == 0'>
        This location has no contracts yet.
        </p>
        <dl ng-if='vm.listingGroups[business.name].length > 0'
                class='listing-content'>
            <div ng-repeat='listing in vm.listingGroups[business.name]'>
                <dt><h3> {{ listing.position.name }} </h3></dt>
                <dd>
                    <dl class='listing-content'>
                        <dt> Status </dt>
                        <dd> {{ listing.status.friendly_name }} </dd>

                        <dt> Pay </dt>
                        <dd> {{ listing.pay }}$/h </dd>

                        <dt> Details </dt>
                        <dd> {{ listing.details }} </dd>

                        <div ng-if='listing.employee'>
                            <dt> Contractor </dt>
                            <dd>
                                <dl class='listing-content'>
                                    <dt>Name</dt>
                                    <dd> {{ listing.employee.human.first_name }} {{ listing.employee.human.last_name }} </dd>

                                    <dt>Phone Number</dt>
                                    <dd> {{ listing.employee.human.contact_info.phone_number }} </dd>
                                </dl>
                            </dd>
                        </dl>
                    </dl>
                </dd>
            </div>
        </dl>
    </dd>
</dl>
