<h1> Contracts </h1>
<dl class='business-list' ng-repeat='business in vm.businesses'>
    <dt>
        <h2> {{ business.name }} </h2>
        <p>
        {{ vm.util.formatAddress(business.location) }}
        </p>
        <p ng-if='business.positions.length === 0'>
        This business currently has no positions.
        </p>
        <div class='new-listing-positions-list'>
            <a class='button block call-to-action' ng-repeat='position in business.positions'
                    ui-sref='new-listing({businessId: business.id, positionId: position.id})'>
                Get a {{ position.name }}
            </a>
            <a class='button block call-to-action'
                    ui-sref='new-position({businessId: business.id})'>
                New position
            </a>
        </div>
    </dt>
    <dd>
        <p ng-if='business.listings.length === 0'>
        This location has no contracts yet.
        </p>
        <dl ng-if='business.listings.length > 0'
                class='listings-list'>
            <div class='item' ng-repeat='listing in business.listings'>
                <dt>
                    <div class='listing-header'>
                        <div>
                            <h3> {{ listing.position.name }} </h3>
                            <div class='listing-create-time'>
                                Created
                                on {{ vm.util.formatDate(listing.create_date) }}
                                at {{ vm.util.formatTime(listing.create_date) }}
                            </div>
                        </div>
                        <div>
                            <p class='listing-pay'> {{ listing.pay }}$/h </p>
                            <p class='listing-status'> {{ listing.status.friendly_name }} </p>
                        </div>
                    </div>
                </dt>
                <dd>
                    <div> {{ listing.details }} </div>

                    <div class='contractor-info'>
                        <div ng-if='listing.employee'>
                            <h4> Contractor - {{ listing.employee.human.first_name }} {{ listing.employee.human.last_name }}</h4>
                            <ul class='flat'>
                                <li><i class='fa fa-phone'></i> {{ listing.employee.human.contact_info.phone_number }} </li>
                            </ul>
                        </div>
                        <div ng-if='!listing.employee'>
                            <strong>No contractor is assigned yet.</strong>
                        </div>
                    </div>
                </dd>
            </div>
        </dl>
    </dd>
</dl>
