<h1> Listings </h1>
<div>
    <a class='button block' ui-sref='new-listing'>New listing</a>
</div>
<div class='business-content' ng-repeat='business in vm.businesses'>
    <h2> {{ business.name }} </h2>
    <div>
        <p>
        {{ vm.formatAddress(business.location) }} 
        </p>
    </div>
    <p ng-if='vm.listingGroups[business.name].length == 0'>
    This location has no listings.
    </p>
    <ul ng-if='vm.listingGroups[business.name].length > 0'>
        <li ng-repeat='listing in vm.listingGroups[business.name]'>
            <h3> {{ listing.position.name }} </h3>
            <dl class='listing-content'>
                <dt> Status </dt>
                <dd> {{ listing.status.friendly_name }} </dd>

                <dt> Pay </dt>
                <dd> {{ listing.pay }}$/h </dd>

                <dt> Details </dt>
                <dd> {{ listing.details }} </dd>

                <dt> Position </dt>
                <dd> {{ listing.position.name }} </dd>

                <dt> Employee </dt>
                <dd>
                    <div ng-if='listing.employee'>
                        <dl class='listing-content'>
                            <dt>Name</dt>
                            <dd> {{ listing.employee.human.first_name }} {{ listing.employee.human.last_name }} </dd>

                            <dt>Phone Number</dt>
                            <dd> {{ listing.employee.human.contact_info.phone_number }} </dd>
                        </dl>
                    </div>
                </dl>
            </dl>
        </li>
    </ul>
</div>
