<h2> Create a position at {{ vm.business.name }} </h2>
<h3> Choose position details </h3>
<form class='separate-form fullwidth'
        novalidate ng-submit='vm.submit()'>
    <formly-form
            model='vm.form.data'
            fields='vm.form.fields'
            form='vm.form.controller'>
        <div class='center-holder'>
            <button type='submit' ng-disabled='vm.form.controller.$invalid'
                    ng-hide='vm.form.controller.$submitted'>
                Create
            </button>
            <div ng-show='vm.form.controller.$submitted'>
                <p>
                    Created!
                </p>
                <div>
                    <a ui-sref='positions' class='button block'>
                        Go to positions
                    </a>
                    <br>
                    <a ui-sref='new-listing({businessId: vm.business.id, positionId: vm.position.id})' class='button block'>
                        Create a listing
                    </a>
                </div>
            </div>
        </div>
    </formly-form>
</form>
