<h1> Positions </h1>
<dl class='business-list' ng-repeat='business in vm.businesses'>
    <dt>
        <h2> {{ business.name }} </h2>
        <p>
        {{ vm.util.formatAddress(business.location) }}
        </p>
        <p ng-if='business.positions.length == 0'>
        This location has no positions yet.
        </p>
        <div class='new-listing-positions-list'>
            <a class='button block call-to-action'
                ui-sref='new-position({businessId: business.id})'>
                Add position at {{ business.name }}
            </a>
        </div>
    </dt>
    <dd>
        <dl class='listings-list' ng-if='business.positions.length > 0'>
            <div class='item' ng-repeat='position in business.positions'>
                <dt>
                    <div class='listing-header'>
                        <div>
                            <h3> {{ position.name }} </h3>
                            <p>
                            Created
                            on {{ vm.util.formatDate(position.create_date) }}
                            at {{ vm.util.formatTime(position.create_date) }}
                            </p>
                        </div>
                        <div>
                            <div class='center-holder'>
                                <button ng-click='vm.deletePosition(business, position)'>
                                    Delete
                                </button>
                            </div>
                            <p ng-if='position.default_pay'>
                            Default pay:
                            <span class='listing-pay'>
                                {{ position.default_pay }}$/h
                            </span>
                            </p>
                            <p ng-if='!position.default_pay'>
                            No default pay.
                            </p>
                            <p ng-if='position.default_duration'>
                            Default duration:
                            <span>
                                {{ position.default_duration }}h
                            </span>
                            </p>
                            <p ng-if='!position.default_duration'>
                            No default duration.
                            </p>
                            <p ng-if='position.default_languages.length > 0'>
                                Default languages:
                                <ul>
                                    <li ng-repeat='lang in position.default_languages'>
                                    {{ lang.name }}
                                    </li>
                                </ul>
                            </p>
                            <p ng-if='position.default_languages.length === 0'>
                                No default languages.
                            </p>
                        </div>
                    </div>
                </dt>
                <dd>
                    <div ng-if='position.default_details'>
                        <p>
                        {{ position.default_details }}
                        </p>
                    </div>
                    <p ng-if='!position.default_details'>
                    <strong>No default description.</strong>
                    </p>
                </dd>
            </div>
        </dl>
    </dd>
</dl>
