@import "main.less";

form {
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0;
    }

    > div {
        margin: 1em 0;
    }

    /*
    input[type='radio'].radio-button {
        display: none;
    }

    input[type='radio'].radio-button + label {
        margin: 0.25em 0;
        padding: 0.25em 0.5em;
        text-align: center;
        border-radius: 5px;
        border: 1px solid @fg-main;
        display: block;
        width: 100%;
    }

    input[type='radio'].radio-button:hover + label {
        background-color: @light-blue;
    }

    input[type='radio'].radio-button:checked + label {
        background-color: @base-blue;
    }

    input[type='radio'].radio-button + input[type='text']#position-new-text {
        background-color: @trans-bg;
        text-align: center;
    }

    input[type='radio'].radio-button:checked + input[type='text']#position-new-text {
        background-color: @base-blue;
        border: 1px solid @fg-main;
    }
    */
}

.card {
    background-color: @bg-card;
    .card-border(@bg-card);
}

ul.manager-list {
    > li {
        padding: 2em;
    }

    div.business-header {
        .display-flex();
        .flex-direction(row);
        .flex-wrap(wrap);
        .justify-content(space-between);
        .align-items(center);
    }
}

dl.business-list {
}

dl.listings-list {
    margin: 0;

    p {
        margin: 0;
    }

    div.item {
        .card();
        padding: 2em;

        div.listing-header {
            .display-flex();
            .flex-direction(row);
            .flex-wrap(wrap);
            .justify-content(space-between);
            .align-items(center);

            h3 {
                margin: 0;
            }
        }

        .contractor-info {
            margin-top: 2em;

            h4 {
                margin-bottom: 0;
            }

            > dl {
                .basic-dl();
            }
        }

        .listing-pay {
        }

        .listing-status {
            color: @ah-violet;
        }

        > dt {
            font-weight: bold;
            margin-bottom: 2em;
        }

        > dd {
            margin-top: 2em;
        }
    }
}

dl.listing-content {
    dd {
        padding: 0 2em;
    }
}

.call-to-action {
    .button(@ah-blue);
    color: white;
}

#main-contents {
    .window-wide();
    padding: 1em;
    min-height: 85vh;
    margin: 2em auto;
}
