@import url(http://fonts.googleapis.com/css?family=Playfair+Display);

@base-green: #b8f0b2;
@base-blue:  #6683b6;
@base-beige: #fffe83;

@light-green: lighten(@base-green, 10%);
@light-blue:  lighten(@base-blue, 10%);
@light-beige: lighten(@base-beige, 10%);

@lighter-green: lighten(@base-green, 20%);
@lighter-blue:  lighten(@base-blue, 20%);
@lighter-beige: lighten(@base-beige, 20%);

@dark-green: darken(@base-green, 10%);
@dark-blue:  darken(@base-blue, 10%);
@dark-beige: darken(@base-beige, 10%);

@darker-green: darken(@base-green, 20%);
@darker-blue:  darken(@base-blue, 20%);
@darker-beige: darken(@base-beige, 20%);

@section-opacity: 80%;

* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background-color: @light-beige;
    margin: 0;
    padding: 0;
}

h1, h2, p {
    margin: 0.75em 0;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

.summary-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;

    min-height: 20em;

    .image-container {
        width: 10em;
        height: 10em;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    ul {
        list-style-position: inside;
        list-style-type: none;

        li {
            margin: 0.5em 0;
        }
    }
}

ul.summary-list > li {
    min-width: 40%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}

#banner {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-item: center;

    background-color: black;

    padding: 1em;
    color: white;

    h1 {
        font-family: "Playfair Display", serif;
        text-align: center;
        margin: 0;
        align-self: flex-start;
    }

    img {
        height: 100%;
    }

    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        list-style-type: none;

        li {
            margin: 0.5em;
            display: inline-block;

            a {
                color: inherit;
            }
        }
    }
}

#main-container {
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-flow: column nowrap;

    section {
        margin: 1em;
        padding: 1em;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        min-height: 45vh;

        background-color: fade(white, 80%);

        div.header {
            font-family: "Playfair Display", serif;
            padding: 1em;
            text-align: center;
        }

        div.content {
            padding: 1em;
        }
    }

    /*
    section:nth-child(6n + 0) {
        background-color: fade(spin(@base-green, 60), @section-opacity);
    }

    section:nth-child(6n + 1) {
        background-color: fade(spin(@base-green, 120), @section-opacity);
    }

    section:nth-child(6n + 2) {
        background-color: fade(spin(@base-green, 180), @section-opacity);
    }

    section:nth-child(6n + 3) {
        background-color: fade(spin(@base-green, 240), @section-opacity);
    }

    section:nth-child(6n + 4) {
        background-color: fade(spin(@base-green, 300), @section-opacity);
    }

    section:nth-child(6n + 5) {
        background-color: fade(spin(@base-green, 360), @section-opacity);
    } /* */
}

form {
    text-align: center;
}

input[type='submit'] {
    padding: 1ex;
    border: none;
}

input[type='text'] {
    padding: 1ex;
    border: none;
}

@media (max-width: 800px) {
    #main-container {
        section {
            flex-flow: column nowrap;
        }
    }

    body {
        font-size: 12px;
    }
}

