<h3> Choose job details </h3>
<form class='separate-form fullwidth' 
        novalidate ng-submit='vm.submit()'>
    <formly-form
            model='vm.data'
            fields='vm.fields'
            form='vm.form'>
        <div class='center-holder'>
            <div ng-hide='vm.form.$submitted'>
                <button ng-click='vm.back()'>
                    Back
                </button>
                <button type='submit' ng-disabled='vm.form.$invalid'>
                    Submit
                </button>
            </div>
            <div ng-show='vm.form.$submitted'>
                <p>
                    Created!
                </p>
                <div>
                    <a ui-sref='listings' class='button block'>
                        Go to listings
                    </a>
                </div>
            </div>
        </div>
    </formly-form>
</form>
