@import url(http://fonts.googleapis.com/css?family=Open+Sans|Merriweather:400,700);

body {
    height: 100%;
    width: 100%;
    background-image: url("/static/img/Montreal2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    font-family: "Open Sans", sans;
}

h1 {
    font-family: "Merriweather", serif;
}

section {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.contents a {
    color: inherit;
    text-decoration: underline;
    transition: 0.4s all ease;
}

.contents a:hover {
    color: blue;
}

section .contents {
    text-align: center;
    padding: 1em;
    background-color: rgba(32, 32, 32, 0.65);
    margin: 0.5em auto;
}

section .contents {
    max-width: 45%;
}

@media (max-width: 600px) {
    section .contents {
        max-width: 90%;
    }
}

section .contents h1 {
    width: 100%;
}

section form {
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

section form * {
    margin: 0.25em;
}

section form .help-block {
    color: inherit;
}

section .contents .circle-img-container {
    height: 15em;
    width: 15em;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 0px 0px 5px white;
    overflow: hidden;
    position: relative;
}

section .contents .circle-img-container img {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

section .flex-row {
    display: flex;
    flex-flow: row wrap;
}

#team .contents {
    width: 100%;
}

.carousel img {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.carousel img:first-child {
    display: inline;
}

.carousel {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10;
}

