{% macro render_errors_ul(field) %}
{% if field.errors %}
    <ul class='errors'>
        {% for error in field.errors %}
        <li> {{ error }} </li>
        {% endfor %}
    </ul>
{% endif %}
{% endmacro %}

{% macro render_field_dl(field) %}
<dt> {{ field.label }} </dt>
<dd> {{ field(**kwargs)|safe }} </dd>
{% endmacro %}

{% macro render_field_label(field, label_first=False) %}
<label>
    {% if label_first %}
    {{ field.label }}
    {{ field(**kwargs)|safe }}
    {% else %}
    {{ field(**kwargs)|safe }}
    {{ field.label }}
    {% endif %}
</label>
{{ render_errors_ul(field) }}
{% endmacro %}
