{% extends "layout-external.html" %}

{% block title %}
Employment on demand
{% endblock %}

{% block header %}
<div id='top-bar' class='flex-spaced'>
    <img src='/static/img/ahvoda-white-logo.png'>
    <a class='button' href='/'>Not an employer?</a>
</div>
{% endblock %}

{% block contents %}
<section id='business-landing-top' class='total-centering'>
    <div class='contents scrollfade'>
        <h1>
            Employment on Demand
            <br>
            Your workforce in the cloud
        </h1>
    </div>
</section>

<section id='about' class='total-centering'>
    <div class='contents first-left scrollfade'>
        <img class='fitsize' src='/static/img/business-app-views/view1.png'>
        <div>
            <h5>
                There are good days and there are bad days.
                <br>
                But that doesn't have to be out of your control.
            </h5>
            <p>
            Surprise rushes and absenteeism are tough problems to deal with.
            Ahvoda's employment on demand service is the solution.
            </p>
        </div>
    </div>
    <div class='contents first-right scrollfade'>
        <img class='fitsize' src='/static/img/business-app-views/view2.png'>
        <div>
            <h5>
                Ahvoda handles the unexpected, so you can focus on what's
                <em>really</em> important.
            </h5>
            <p>
            Provide superior customer service by letting Ahvoda take care of
            your basic, back-of-the-house needs.
            </p>
        </div>
    </div>
    <div class='contents first-left scrollfade'>
        <img class='fitsize' src='/static/img/business-app-views/view3.png'>
        <div>
            <div>
                <h5>
                    Request an Ahvoda worker and resolve your staffing crisis in
                    minutes.
                </h5>
                <p>
                Using Ahvoda, you will never be understaffed. Keep fewer employees
                on the floor, and more employees in the cloud. React to unexpected
                circumstances with Ahvoda.
                </p>
            </div>
        </div>
    </div>
</section> 

<section class='total-centering'>
    <div class='contents'>
        <h2>Closed alpha launch in July 2015</h2>
        <p>Contact us to join.</p>
        <a class='button' href='mailto:hello@mail.ahvoda.com'>
            hello@mail.ahvoda.com
        </a>
    </div>
</section>

{% endblock %}

{% block carousel %}
<div class='carousel'>
    <img src='/static/img/clouds.jpg'>
</div>
{% endblock %}
