<!doctype html>
<html>
<head>
	<title>Ahvoda - Coming Soon!</title>

    <link rel='stylesheet' type='text/css'
        href='/static/stylesheets/comingsoon.css'>
</head>

<body>
<div id="container">
	<div id="topbar">
		<div id="navbar">
            {#
			<ul>
				<li>
                <a href="www.ahvoda.com/employee.html">Employee Login</a>
                </li>
				<li>
                <a href="www.ahvoda.com/business.html">Business Login</a>
                </li>
				<li>
                <a href="www.ahvoda.com/testimonials.html">Testimonials</a>
                </li>
				<li>
                <a href="www.ahvoda.com/contactus">Contact Us</a>
                </li>
			</ul>
            #}
		</div>
	</div>

	<div class="clear"></div>

	<div id="comingsoon">
		<p>Get ready...</p>
	</div>

	<div id="logodiv">
		<img src="/static/images/Small Green.png" />
	</div>

	<div id="emailalert">
		<p>We'll let you know when we launch!</p>
		<form>
            {{ form.user_email_address() }}
			<br>
            {{ form.user_type() }}
            <br>
			<input type="submit" value="Submit" />
		</form>
	</div>
</div>
</body>

</html>
