{% extends "layout-internal.html" %}

{% block contents %}

<div class='main-contents'>
    <h1> Get someone </h1>
    <form action='{{ url_for('business_create_listing') }}'>
        <div>
            <!--
            <h3>
                Position
            </h3>
            -->
            <ul class='flat'>
                <li>
                    <input class='radio-button' id='position-dishwasher'
                        name='position' type='radio' value='dishwasher'>
                    <label for='position-dishwasher'>
                        Dishwasher
                    </label>
                </li>
                <li>
                    <input class='radio-button' id='position-cleaner'
                        name='position' type='radio' value='cleaner'>
                    <label for='position-cleaner'>
                        Cleaner
                    </label>
                </li>
                <li>
                    <input class='radio-button' id='position-new'
                        name='position' type='radio' value='new'>
                    <input class='no-bg' id='position-new-text'
                        name='position-new' type='text' 
                        placeholder='New position...'>
                </li>
            </ul>
        </div>

        <div>
            <label>
                <h3>
                    Job duration
                </h3>
                <input name='length' type='number'
                    placeholder='Duration (hours)'>
            </label>

            <!-- TODO replace with textarea -->
            <label>
                <h3>
                    Responsibilities
                </h3>
                <textarea name='responsibilities' type='text' wrap></textarea>
            </label>

            <label>
                <h3>
                    Total pay
                </h3>
                <input name='pay' type='number', placeholder='Amount ($)'>
            </label>
        </div>
        
        <div class='center-holder'>
            <button type='submit' class='button-success'>
                Send
            </button>
        </div>
    </form>
</div>

{% endblock %}
