{% extends "landing-page-layout.html" %}

{% block title %}
Part-Time Recruitment
{% endblock %}

{% block contents %}
<section id="email" class='total-centering'>
    <div class="contents scrollfade">
        <h1>Ahvoda? Ahvoda.</h1>
        <p>
        Tinder for part time jobs.<br>
        Coming soon to Montreal.
        </p>
        <p>
        Interested in joining Ahvoda?<br>
        We're currently accepting applications to the private Ahvoda Beta!
        </p>
        <a href='/register'>
            <button type='submit' class='button-success'>
                <i class='fa fa-paper-plane'></i> Sign up to the Ahvoda Beta
            </button>
        </a>
        <p id='register-result-message'></p>
        <p id='survey-request'>
        In the meantime, do you mind filling out a short
        <a
            href='https://docs.google.com/forms/d/1rkj-71-Li4wGHEFkYQUiSWGpJInAhe5sSjkbK5bPOkw/viewform'>survey</a>
        on your past job experiences?</p>
    </div>
</section>

<section id="about">
    <div class="contents scrollfade">
        <h1>Talent deserves opportunity</h1>
        <p class='description'>
        With our job matching technology, we give you the opportunities that
        you wish you'd always had.
        </p>
        <p class='description'>
        Apply to a job with a simple click; all your job related information is
        easily accessible.
        </p>
        <strong>We get you hired.</strong>
        </p>
    </div>
    <div class="contents scrollfade">
        <h1>Goodbye job-hunting.</h1>
        <p class='description'>
        No need to search. No need to get frustrated. No need to invest hours
        of your time.
        </p>
        <p class='description'>
        Ahvoda is a platform for connecting people with part-time jobs.
        </p>
        <p class='description'>
        Thanks to Ahvoda, you don't need to hand out CVs or send out
        applications. Sign up once to Ahvoda, build up your profile, and
        receive notifications directly when jobs are posted.
        </p>
    </div>
    <div class="contents scrollfade">
        <h1>Effortless management.</h1>
        <p class='description'>
        After you're hired, Ahvoda is a platform for interacting with your
        manager and your coworkers.
        </p>
        <p class='description'>
        See your schedule, request to trade shifts with others, and see at a
        glance the whole workforce of your job.
        </p>
    </div>
    <div class="contents scrollfade">
        <h1>Level up!</h1>
        <p class='description'>
        Simply by holding a job on Ahvoda, you earn experience.
        </p>
        <p class='description'>
        Experience
        distinguishes you from other candidates, and might make the difference
        between being hired or not, just like in the old-fashioned job market.
        </p>
        <p class='description'>
        Various other perks are awarded to highly-experienced users!
        </p>
    </div>
</section>
<section id="team">
    <div class="contents scrollfade">
        <h1>The Team</h1>
    </div>
    <div class='flex-row'>
        <div class='contents scrollfade'>
            <div class='circle-img-container'>
                <img src="/static/img/Jacob.jpg"
                alt="picture of Jacob Errington">
            </div>
            <h2>Jacob Errington</h2>
            <p class='description'>
            Computer science and math major. Born and raised in Montreal.
            Programming guru. Passionate about technology and code.
            Currently a part-time research assistant at the McGill
            University and Génome Québec Research Centre.
            </p>
            <p class='email-address'><i class='fa fa-paper-plane'></i>
            <a href='mailto:jake@mail.ahvoda.com'>jake@mail.ahvoda.com</a>
            </p>
        </div>
        <div class='contents scrollfade'>
            <div class='circle-img-container'>
                <img src="/static/img/kevin.jpg"
                alt="picture of Kevin Li">
            </div>
            <h2>Kevin Li</h2>
            <p class='description'>
            Finance and entrepreneurship major. Hustler. Passionate about
            entrepreneurship. Competed in several case competitions, winning
            the strategy stream in the 2014 Desautels Case Competition.
            Executes with speed and precision.
            </p>
            <p class='email-address'><i class='fa fa-paper-plane'></i>
            <a href='mailto:kevin@mail.ahvoda.com'>kevin@mail.ahvoda.com</a>
            </p>
        </div>
        <div class='contents scrollfade'>
            <div class='circle-img-container'>
                <img src="/static/img/woo.jpg"
                alt="picture of WooVin Daniel Han">
            </div>
            <h2>WooVin Daniel Han</h2>
            <p class='description'>
            Original Founder and marketing major. Idea guy. Participated
            in the 2014 Dobson Cup as the team manager of Visual Vogue. Won
            first place in the 2014 McGill Thinkathon with the concept of
            Ahvoda. The man behind the Ahvoda brand.
            </p>
            <p class='email-address'><i class='fa fa-paper-plane'></i>
            <a href='mailto:woo@mail.ahvoda.com</p'>woo@mail.ahvoda.com</a>
            </p>
        </div>
        <div class='contents scrollfade'>
            <div class='circle-img-container'>
                <img src="/static/img/ajwad2.jpg"
                    alt='picture of Ajwad Anwar'>
            </div>
            <h2>Ajwad Anwar</h2>
            <p class='description'>
            Computer science and biology major. Passionate about start-ups
            and programming. Liaison between the business side and the
            technology side of Ahvoda.
            </p>
            <p class='email-address'><i class='fa fa-paper-plane'></i>
            <a href='mailto:ajwad@mail.ahvoda.com'>ajwad@mail.ahvoda.com</a>
            </p>
        </div>
    </div>
</section>

<section id='contact' class='total-centering'>
    <div class='contents scrollfade'>
        <h1>Questions?</h1>
        <p>
        Don't hesitate to
        <i class='fa fa-paper-plane'></i>
        <a href='mailto:hello@mail.ahvoda.com'>
            contact us.
        </a>
        </p>
    </div>
</section>

{% endblock %}
