{% extends "layout-external.html" %}

{% block title %}
Part-Time Recruitment
{% endblock %}

{% block contents %}
<section id="email" class='total-centering'>
    <div class="contents scrollfade">
        <h1>Ahvoda? Ahvoda.</h1>
        <p>
        Employment on demand.<br>
        Coming soon to Montreal.
        </p>
        <p>
        Let jobs come to you.<br>
        Work when you want.
        </p>
        <a href='#about' class='button button-success'>find out more</a>
    </div>
</section>

<section id="about" class='total-centering'>
    <div class="contents scrollfade">
        <h1>Employment on demand</h1>
        <p class='description'>
        Ahvoda lets you work when you're free.
        </p>
        <p class='description'>
        After registering, you'll start getting requests from restaurants who
        need you to come in and help them out.
        </p>
        <p class='description'>
        Get in, get out, and get paid.
        </p>
    </div>
</section>

<section id='contact' class='total-centering'>
    <div class='contents scrollfade'>
        <h1>Questions?</h1>
        <p>
        Don't hesitate to
        <i class='fa fa-paper-plane'></i>
        <a href='mailto:hello@mail.ahvoda.com'>
            contact us.
        </a>
        </p>
    </div>
</section>

{% endblock %}
