{% extends "layout-main.html" %}

{% block css %}
<link rel='stylesheet' href='/static/css/external.css'>
{% endblock %}

{% block body %}

<!--
<div id='vfill-container'>
-->
{% block contents %}
{% endblock %}
<!--
</div>
-->

{% block carousel %}
<div class='cycle cycle-parallel carousel' data-cycle-period='10000'>
    <img src='/static/img/carousel/fill_bike.jpg'>
    <img src='/static/img/carousel/fill_cups.jpg'>
    <img src='/static/img/carousel/fill_bridge.jpg'>
    <img src='/static/img/carousel/fill_bus.jpg'>
    <img src='/static/img/carousel/fill_highway.jpg'>
    <img src='/static/img/carousel/fill_desk.jpg'>
</div>
{% endblock %}

{% endblock %}
