{% extends "layout-main.html" %}

{% block css %}
<link rel='stylesheet' href='/static/css/external.css'>
{% endblock %}

{% block body %}

{% block contents %}
{% endblock %}

<div class='carousel'>
    <img src='/static/img/carousel/fill_bike.jpg'>
    <img src='/static/img/carousel/fill_cups.jpg'>
    <img src='/static/img/carousel/fill_bridge.jpg'>
    <img src='/static/img/carousel/fill_bus.jpg'>
    <img src='/static/img/carousel/fill_highway.jpg'>
    <img src='/static/img/carousel/fill_desk.jpg'>
</div>

{% endblock %}
