{% extends "layout-external.html" %}

{% block contents %}

<section class='total-centering'>
    <div class='contents'>
        <h1> Log in </h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class='errors'>
                {% for message in messages %}
                    <li> {{ message }} </li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        <form class='separate-form fullwidth' method='POST' 
                action='{{ url_for('login') }}'>
            <label>
                Username
                <input type='text' name='username'>
            </label>
            <label>
                Password
                <input type='password' name='password'>
            </label>
            <div class='center-holder'>
                <button class='button-success'>
                    Log in
                </button>
            </div>
        </form>
    </div>
</section>

{% endblock %}
