{% extends "landing-page-layout.html" %}

{% from "_form_helpers.html" import 
    render_field_label, render_errors_ul, render_field_dl %}

{% block contents %}

<section id='registration'>
    <div class="contents scrollfade">
        <h1>Sign up to the Ahvoda Beta</h1>
        <p>
        Thank you for your interest in Ahvoda! By providing us with your
        information below, we will be able to construct an employee profile and
        start finding opportunities for you. After telling us what time is
        convenient for you to start, we’ll make a best effort to score an
        interview!
        </p>
        <form action='/register' method='POST'>
            <div>
                <h2>Contact information</h3>
                {{ render_field_label(form.cv, label_first=True) }}
                <dl>
                    {{ render_field_dl(form.first_name) }}
                    {{ render_field_dl(form.last_name) }}
                    {{ render_field_dl(form.email_address) }}
                    {{ render_field_dl(form.gender) }}
                    {{ render_field_dl(form.date_of_birth) }}
                    {{ render_field_dl(form.address_line_1) }}
                    {{ render_field_dl(form.address_line_2) }}
                    {{ render_field_dl(form.postal_code) }}
                    {{ render_field_dl(form.phone_number) }}
                </dl>
            </div>
            <div>
                <h2>Languages</h3>
                <div>
                    <h3>Spoken languages</h3>
                    <ul>
                        <li>
                        {{ render_field_label(form.spoken_english) }}
                        </li>
                        <li>
                        {{ render_field_label(form.spoken_french) }}
                        </li>
                        <li>
                        {{ render_field_label(form.spoken_other) }}
                        </li>
                    </ul>
                    {{ render_field_label(form.spoken_other_names) }}
                </div>
                <div>
                    <h3>Written languages</h3>
                    <ul>
                        <li>
                        {{ render_field_label(form.written_english) }}
                        </li>
                        <li>
                        {{ render_field_label(form.written_french) }}
                        </li>
                        <li>
                        {{ render_field_label(form.written_other) }}
                        </li>
                    </ul>
                    {{ render_field_label(form.written_other_names) }}
                </div>
            </div>
            <div>
                <h2>Study information</h2>
                <ul>
                    <li>
                    {{ render_field_label(form.is_student) }}
                    </li>
                </ul>
                <dl>
                    {{ render_field_dl(form.faculty) }}
                    {{ render_field_dl(form.year) }}
                </dl>
            </div>
            <div>
                <h2>General</h2>
                <ul>
                    <li>
                    {{ render_field_label(form.canadian_citizen) }}
                    </li>
                    <li>
                    {{ render_field_label(form.canadian_work) }}
                    </li>
                </ul>
            </div>
            <div>
                <button type='submit' class='button-success'>
                    Submit
                </button>
            </div>
        </form>
    </div>
</section>

{% endblock %}


